// font-size

$primary-title-fz: 72px;

$primary-title-fz_mobile: 48px;

$title-fz: 42px;

$title-fz_mobile: 30px;

$services-fz: 28px;

$services-fz_mobile: 22px;

$big-fz: 24px;

$big-fz_mobile: 20px;

$standart-fz: 18px;

$standart-fz_mobile: 14px;

// color

$primary-color: #086CF9;

$primary-color-light: #ECF4FF;

$secondary-color: #333333;

$secondary-color-dark: #1A1A1A;

$secondary-color-light: #4A4A4A;

$contrast-color: #ffffff;

$footer-color: #4F85A4;

// font family 

$title-ff: 'Nunito', sans-serif;

$sub-title-ff: 'DM Sans', sans-serif;