@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  position: relative;
}

p {
  max-width: 540px;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  color: #4A4A4A;
}

.button {
  display: inline-block;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  color: #ffffff;
  background: #086CF9;
  border-radius: 4px;
  padding: 16px 32px;
}
@media screen and (max-width: 768px) {
  .button {
    font-size: 14px;
    padding: 12px 24px;
  }
}

.title {
  font-family: "Nunito", sans-serif;
  font-size: 42px;
  color: #1A1A1A;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (max-width: 500px) {
  .title {
    font-size: 30px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 20px 15px;
  overflow: hidden;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto 50px auto;
}
.header__menu {
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
.header a {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  color: #1A1A1A;
  margin-right: 30px;
}
.header a:hover {
  color: #086CF9;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  color: #1A1A1A;
}
.header__dot {
  width: 9px;
  height: 10px;
  background: #086CF9;
  border-radius: 10px;
  margin: 0 3px 0 3px;
}
.header .burger-btn {
  display: none;
  z-index: 10;
  position: relative;
  width: 30px;
  height: 20px;
  cursor: pointer;
}
.header .burger-btn > span {
  position: absolute;
  background-color: #086CF9;
  width: 100%;
  height: 3px;
  border-radius: 18px;
  left: 0;
  top: 9px;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
.header .burger-btn:after, .header .burger-btn:before {
  content: "";
  position: absolute;
  background-color: #086CF9;
  width: 100%;
  height: 3px;
  border-radius: 18px;
  left: 0;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
.header .burger-btn:before {
  top: 20px;
}
.header .burger-btn:after {
  bottom: 20px;
}
.header .burger-btn_active span {
  opacity: 0;
  background-color: #ECF4FF;
}
.header .burger-btn_active:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
  background-color: #ECF4FF;
}
.header .burger-btn_active:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
  background-color: #ECF4FF;
}
@media screen and (max-width: 768px) {
  .header .burger-btn {
    display: block;
  }
  .header__menu {
    position: absolute;
    max-width: none;
    z-index: 2;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 70px 20px 20px 20px;
    background: #086CF9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__menu_active {
    top: 0;
  }
  .header__link {
    width: 100%;
    -moz-text-align-last: left;
         text-align-last: left;
    margin-bottom: 20px;
  }
  .header a {
    color: #ECF4FF;
  }
  .header a:hover {
    color: #ECF4FF;
  }
}

.main-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.main-screen__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.main-screen__wrapper {
  max-width: 430px;
  width: 100%;
}
.main-screen__title {
  font-family: "Nunito", sans-serif;
  font-size: 72px;
  color: #1A1A1A;
  margin-bottom: 20px;
}
.main-screen__title span {
  color: #086CF9;
}
.main-screen p {
  margin-bottom: 20px;
}
.main-screen .button {
  margin-bottom: 20px;
}
.main-screen__email {
  margin-bottom: 15px;
}
.main-screen__email, .main-screen__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.main-screen__email svg, .main-screen__phone svg {
  margin-right: 10px;
}
.main-screen__email p, .main-screen__phone p {
  font-size: 24px;
  color: #333333;
  margin-bottom: 0;
}
.main-screen__img img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .main-screen__title {
    font-size: 48px;
  }
}
@media screen and (max-width: 650px) {
  .main-screen {
    position: relative;
  }
  .main-screen__title {
    margin-bottom: 220px;
  }
  .main-screen__img {
    position: absolute;
    max-width: 430px;
    top: 80px;
  }
}
@media screen and (max-width: 400px) {
  .main-screen {
    position: relative;
  }
  .main-screen__title {
    margin-bottom: 160px;
  }
  .main-screen__img {
    max-width: 330px;
  }
}
@media screen and (max-width: 330px) {
  .main-screen {
    position: relative;
  }
  .main-screen__title {
    margin-bottom: 130px;
    font-size: 40px;
  }
  .main-screen__img {
    max-width: 280px;
    top: 65px;
  }
}

.servece {
  padding: 50px 0 70px 0;
  background: #ECF4FF;
}
.servece__product {
  width: 100%;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 30px;
}
.servece__content {
  padding-left: 50px;
}
.servece p {
  font-family: "Nunito", sans-serif;
  font-size: 28px;
  margin-bottom: 30px;
}
.servece__img {
  width: 300px;
}
@media screen and (max-width: 768px) {
  .servece__product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 60%;
    margin: 0 auto 30px auto;
  }
  .servece__content {
    padding: 0 10px 20px 10px;
    text-align: center;
  }
  .servece__img {
    width: 100%;
    margin-bottom: 20px;
  }
  .servece p {
    font-size: 22px;
  }
}
@media screen and (max-width: 500px) {
  .servece p {
    font-size: 16px;
  }
}
@media screen and (max-width: 350px) {
  .servece p {
    font-size: 12px;
  }
}

.order {
  padding: 70px 120px 0 120px;
  text-align: center;
  margin-bottom: 35px;
}
.order p {
  margin: 0 auto 30px auto;
}
.order__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.order__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.order__label {
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  color: #1A1A1A;
  margin-bottom: 15px;
  margin-right: auto;
}
.order__input {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  color: #929292;
  width: 100%;
  padding: 2px 10px;
  background: #ECF4FF;
  border-bottom: 3px solid #086CF9;
}
.order__email, .order__phone {
  -ms-flex-preferred-size: 47%;
      flex-basis: 47%;
}
.order__message .order__input {
  height: 140px;
}
.order .button {
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .order {
    padding: 0 20px;
  }
}
@media screen and (max-width: 500px) {
  .order__email, .order__phone {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .order__label {
    font-size: 20px;
  }
  .order__input {
    font-size: 14px;
  }
}

.faq {
  padding: 35px 120px 0 120px;
  text-align: center;
  margin-bottom: 35px;
}
.faq p {
  margin: 0 auto 80px auto;
}
.faq__question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-shadow: 0px 4px 30px 15px rgba(219, 213, 213, 0.25);
          box-shadow: 0px 4px 30px 15px rgba(219, 213, 213, 0.25);
  border-radius: 5px;
  padding: 10px 15px 10px 20px;
  margin-bottom: 20px;
}
.faq__title {
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  color: #1A1A1A;
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  text-align: left;
}
.faq__plus {
  -ms-flex-preferred-size: 35px;
      flex-basis: 35px;
  position: relative;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.faq__plus:after, .faq__plus:before {
  content: "";
  position: absolute;
  background-color: #086CF9;
  border-radius: 18px;
  left: 0;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
.faq__plus:before {
  top: 16px;
  width: 100%;
  height: 3px;
}
.faq__plus:after {
  left: 16px;
  width: 3px;
  height: 100%;
}
.faq__plus_active:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.faq__plus_active:after {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
.faq__line {
  display: none;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 3px;
  background: #086CF9;
  margin: 20px 0;
}
.faq__line_active {
  display: block;
}
.faq__text {
  display: none;
  -ms-flex-preferred-size: 95%;
      flex-basis: 95%;
  font-family: "DM Sans", sans-serif;
  font-size: 24px;
  color: #1A1A1A;
  text-align: left;
  margin-bottom: 10px;
}
.faq__text_active {
  display: block;
}
@media screen and (max-width: 768px) {
  .faq {
    padding: 35px 20px;
  }
}
@media screen and (max-width: 500px) {
  .faq__title {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    font-size: 20px;
  }
  .faq__text {
    font-size: 14px;
  }
}

.gallery {
  padding: 35px 25px;
  text-align: center;
}
.gallery p {
  margin: 0 auto 40px auto;
}
.gallery__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(100px, 1fr) 0 minmax(100px, 1fr);
  -ms-grid-columns: minmax(100px, 240px) 0 minmax(100px, 240px) 0 minmax(100px, 240px) 0 minmax(100px, 240px) 0 minmax(100px, 240px);
      grid-template: repeat(2, minmax(100px, 1fr))/repeat(5, minmax(100px, 240px));
  gap: 0;
}
.gallery__element {
  width: 100%;
}
@media screen and (max-width: 550px) {
  .gallery {
    padding: 35px 0;
  }
}
@media screen and (max-width: 500px) {
  .gallery__grid {
    -ms-grid-rows: (minmax(100px, 1fr))[5];
    -ms-grid-columns: (minmax(100px, 240px))[2];
        grid-template: repeat(5, minmax(100px, 1fr))/repeat(2, minmax(100px, 240px));
  }
}

.contact {
  padding: 35px 25px 0 25px;
  text-align: center;
}
.contact p {
  margin: 0 auto 40px auto;
}
.contact__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.contact__map {
  max-width: 580px;
  width: 100%;
}
.contact__content {
  max-width: 540px;
}
.contact__content img {
  width: 100%;
}
.contact__email, .contact__phone {
  max-width: 400px;
  width: 100%;
  margin: 0 auto 35px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.contact__email svg, .contact__phone svg {
  margin-right: 10px;
}
.contact__email p, .contact__phone p {
  font-size: 36px;
  color: #333333;
  margin-bottom: 0;
}
.contact__phone {
  padding-left: 10px;
}
@media screen and (max-width: 768px) {
  .contact__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  .contact__email, .contact__phone {
    max-width: 220px;
  }
  .contact__email p, .contact__phone p {
    font-size: 20px;
  }
  .contact__email svg {
    width: 30px;
    height: 24px;
  }
  .contact__phone svg {
    width: 20px;
    height: 30px;
  }
}

.footer {
  padding: 70px 0;
  background: url(/assets/img/footer.png) center center;
}
.footer__wrapper {
  max-width: 1000px;
  padding: 0 10px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  color: #ffffff;
  max-width: 120px;
  margin-bottom: 25px;
}
.footer__dot {
  width: 9px;
  height: 10px;
  background: #ffffff;
  border-radius: 10px;
  margin: 0 3px 0 3px;
}
.footer p {
  color: #ffffff;
  margin-bottom: 32px;
  max-width: 300px;
}
.footer__networks {
  max-width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.footer__icon {
  background: #ECF4FF;
  padding: 14px;
  border-radius: 4px;
}
.footer__title {
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 25px;
}
.footer__link {
  margin-bottom: 40px;
}
.footer a {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  color: #ffffff;
}
.footer__email, .footer__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.footer__email p, .footer__phone p {
  font-size: 24px;
  margin-bottom: 0;
  margin-left: 15px;
}
.footer__email {
  margin-bottom: 20px;
}
.footer__phone {
  padding-left: 5px;
}
.footer__line {
  margin-top: 50px;
  width: 100%;
  height: 2px;
  background: #ffffff;
}
@media screen and (max-width: 768px) {
  .footer__wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (max-width: 500px) {
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__content, .footer__contact, .footer__navigation {
    margin: 0 auto;
  }
  .footer__content {
    margin-bottom: 40px;
  }
  .footer__navigation, .footer__contact {
    max-width: 300px;
    width: 100%;
  }
  .footer__email p, .footer__phone p {
    font-size: 20px;
  }
}

.content {
  padding-bottom: 70px;
}
.content__title {
  font-family: "Nunito", sans-serif;
  font-size: 72px;
  color: #1A1A1A;
  margin-bottom: 20px;
}
.content__product {
  width: 100%;
  margin-bottom: 20px;
}
.content__product img {
  width: 100%;
}
.content__sub-title {
  font-family: "Nunito", sans-serif;
  font-size: 42px;
  color: #1A1A1A;
  margin-bottom: 20px;
  text-align: center;
}
.content p {
  max-width: 1200px;
  width: 100%;
  color: #1A1A1A;
  margin-bottom: 15px;
}
.content__list li {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  color: #1A1A1A;
  margin-bottom: 20px;
}
.content__list li::before {
  content: "";
  display: inline-block;
  border-radius: 20px;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  background: #086CF9;
}
.content__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 500px;
}
.content__video img {
  width: 50%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .content__title {
    font-size: 48px;
  }
  .content__sub-title {
    font-size: 28px;
  }
  .content p, .content li {
    font-size: 14px;
  }
  .content__video {
    height: 250px;
  }
}